/* .foodTypeimage{
    max-width: 20%;
    max-height: 30%;
} */
/* .foodTypeImage{
    width: 80%;
    height: 20%;
} */

#recipes{
    display: grid;
    grid
}

.foodtype__list{
    display: flex;
    flex-direction: row;
    grid-template-rows: repeat(5 1fr);
}